.navbar2{
    background-color: #252525;
    .nav-item{
        .container nav ul{
            margin-bottom: 0;
            list-style: none;
    //         display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
            .department{
                width: 272px;
                background-color: #3b3b3b;
                ul{
                   display: none;
                    background-color: white;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 58px;

                    // opacity: 0;
                    // visibility: hidden;
                    padding-bottom: 29px;
                    -webkit-box-shadow: 0 13px 32px rgb(51 51 51 / 10%);
                    box-shadow: 0 13px 32px rgb(51 51 51 / 10%);
                    -webkit-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                    li{
                        a{
                            display: block;
                            font-size: 14px;
                            color: #000000;
                            padding-left: 26px;
                            
                            padding-top: 16px;
                            padding-right: 30px;
                            -webkit-transition: all 0.3s;
                            -o-transition: all 0.3s;
                            transition: all 0.3s;
                            
                        }
                        a:hover{
                          color: #e7ab3c;
                          background-color: white;
                        
                        }
                    }
                }
            }
            
            li{
                position: relative;
                list-style: none;
                display: inline-block;
                margin-left: -36px;
                position: relative;
               
                a{
                    
                    font-size: 18px;
                    font-weight: 500;
                    display: block;
                    color: #ffffff;
                    padding: 16px 45px 15px;
                    padding-right: 50px;
                    transition: all 0.3s;
                    text-decoration: none;
                }
              a:hover{
                   background-color:#e7ab3c ;
                    color: white;
                }
                ul{
                    display: none;
                    // display: flex;
                    position: absolute;
                    width: 212px;
                    background-color: #252525;
                    flex-direction: column;
                    align-items: flex-start;
                    li{
                      a:hover{
                    background-color: #252525;
                    color: #e7ab3c;
                        
                      }
                     
                    }
                }
            }
            li:hover > ul{
                display: flex;

            }
        }
    }
}